.colors-container {
  width: 212px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  grid-template-rows: 1fr;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  z-index: 9999;
}

.color-item {
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #999;
}

.color-item:focus {
  outline: none;
}

.selected {
  border-color: black;
  position: relative;
}

.selected:after {
  content: '✓';
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
