button {
  cursor: pointer;
  height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

.caret {
  display: inline-block;
  transform: rotate(90deg);
  transition: .3s all ease-in-out;
}

.opened span{
  transform: rotate(-90deg);
}
