<form [formGroup]="form" (submit)="onSubmit()">
  <app-picker [colors]="[]" formControlName="color"></app-picker>
  <button type="submit" [disabled]="form.invalid"> Submit </button>
  <ng-container *ngIf="showShippedColor">
    Your selection is: {{form.controls.color.value}}
  </ng-container>
</form>


